{% extends "formation-wara/wara/base-wara.html" %}
{% load static %}

{% block link %}
<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'programme-wara/plugins/assets/img/favicon/favicon.png' %}">
<link rel="icon" href="{% static 'programme-wara/plugins/assets/img/favicon/favicon.png' %}" type="image/x-icon">
<!-- Custom CSS -->
<link href="{% static 'programme-wara/plugins/assets/css/default.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}
Version
{% endblock %}

{% block active-page-wara %}
active-page
{% endblock %}

{% block active-version %}
active
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Title -->
        <div class="row heading-bg">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <a href=""><h5 class="txt-dark">{{version}}</h5></a>
            </div>
            <!-- Breadcrumb -->
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="{% url 'acceuil' %}">Tableau de bord</a></li>
                    <li><a href="#"><span>Wara</span></a></li>
                    <li class="active"><span>{{version}}</span></li>
                </ol>
            </div>
            <!-- /Breadcrumb -->
        </div>
        <!-- /Title -->

        <!-- Row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default card-view">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h6 class="panel-title txt-dark">Modules {{version}}</h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div  class="panel-wrapper collapse in">
                        <div  class="panel-body">
                            <div class="demo-popover">
                                {% for module in modules %}
                                <a href="{% url 'version_module_detail' module.id %}">
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <h3 class="popover-title">{{module.nom_du_module}}</h3>
                                        <div class="popover-content">
                                            <p>
                                                {{module.intro_text}}
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                {% empty %}
                                <div class="popover top">
                                    <div class="arrow"></div>
                                    <h3 class="popover-title">Module de Wara</h3>
                                    <div class="popover-content">
                                        <p style="font-weight:700">
                                            Pas de module | Ajoutez-en un !
                                        </p>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer container-fluid pt-10 pb-10  pl-30 pr-30">
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="pull-left text-dark pt-5 small">Copyright @ 2021. Tous droits réservés</div>
                    <div class="pull-right">Created by <a href="http://wara-africa.com/" target="_blank">GET AHEAD</a></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </footer>
        <!-- /Footer -->
    </div>
</div>
<!-- /Main Content -->
{% endblock %}

{% block javascript %}
<script src="{% static 'programme-wara/plugins/vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'programme-wara/plugins/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- Slimscroll JavaScript -->
<script src="{% static 'programme-wara/plugins/assets/js/jquery.slimscroll.js' %}"></script>
<!-- Fancy Dropdown JS -->
<script src="{% static 'programme-wara/plugins/assets/js/dropdown-bootstrap-extended.js' %}"></script>
<!-- Switchery JavaScript -->
<script src="{% static 'programme-wara/plugins/vendors/bower_components/switchery/dist/switchery.min.js' %}"></script>
<!-- Init JavaScript -->
<script src="{% static 'programme-wara/plugins/assets/js/init.js' %}"></script>
<!-- Toggle JavaScript -->
<script src="{% static 'programme-wara/plugins/assets/js/toggle.js' %}"></script>
{% endblock %}

