{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}

{% endblock %}

{% block head-title %}Modification de compte{% endblock %}

{% block menu-espace %}
active
{% endblock %}

{% block active-espace-compte %}
active
{% endblock %}

{% block position %}
    Modification de compte
{% endblock %}

{% block chemin %}
    Mon espace / Modification de mot de passe
{% endblock %}
{% block content %}
    <!-- Main content -->
    <section class="content">
        <a style="background:#123;color:#fff;padding:8px;border-radius:5px;" href="{% url 'listeupdateuser' user_u.id %}">Retour <i class="fa fa-angle-right"></i> <i>{{user_u}}</i></a><br><br>
        <form method="post">
            {% csrf_token %}
            {{form|crispy}}
            <div class="form-actions form-group"><button type="submit" class="btn btn-block btn-primary">Modifier le mot de passe</button></div>
        </form>
    </section>
    <!-- /.content -->
{% endblock %}

{% block javascript %}

{% endblock %}