{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock %}

{% block head-title %}Tableau de bord{% endblock %}

{% block active-bord %}
active
{% endblock %}

{% block position %}
Tableau de bord
{% endblock %}

{% block chemin %}
Tableau de bord
{% endblock %}


{% block content %}
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <!--
            <div class="col-lg-3 col-6">
                <div class="small-box" style="padding-left:5px;padding-bottom:50px;padding-top:50px;background-color:#2c2c54">
                    <div class="inner">
                        <span style="font-size:20px;font-weight:600;text-transform:uppercase;color:#fff"><span>Investissements</span></span>
                    </div>
                    <div class="icon">
                        <i class="pt-3 nav-icon fas fa-user-plus " style="color:#706fd3"></i>
                    </div>
                </div>
            </div>
            -->
            <div class="col-lg-3 col-12">
                <div class="small-box bg-gradient-dark">
                    <div class="inner">
                        <h3> <b><span class="count">{{total_pers_bam}}</span> <small><small>Membre</small></small></b></h3>

                        <p> <b>Palier : {{bamileke}}</b></p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-user text-light"></i>
                    </div>
                    <a href="javascript:void(0)" class="small-box-footer"> <b>{{niveau}}</b></a>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <!-- small box -->
                <div class="small-box bg-gradient-dark">
                    <div class="inner">
                        <h3> <b><span class="count">{{total_pers_zou}}</span> <small><small>Membre</small></small></b></h3>

                        <p> <b>Palier : {{zoulou}}</b></p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-user text-light"></i>
                    </div>
                    <a href="javascript:void(0)" class="small-box-footer"> <b>{{niveau}}</b></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-12">
                <!-- small box -->
                <div class="small-box bg-gradient-dark">
                    <div class="inner">
                        <h3> <b><span class="count">{{total_pers_maya}}</span> <small><small>Membre</small></small></b></h3>

                        <p> <b>Paliers : {{maya}}</b></p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-copy text-light"></i>
                    </div>
                    <a href="javascript:void(0)" class="small-box-footer"> <b>{{niveau}}</b></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-12">
                <!-- small box -->
                <div class="small-box bg-gradient-dark">
                    <div class="inner">
                        <h3> <b><span class="count">{{total_pers_mand}}</span> <small><small>Membre</small></small></b></h3>

                        <p> <b>Paliers : {{mandingue}}</b></p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-users text-light"></i>
                    </div>
                    <a href="javascript:void(0)" class="small-box-footer"> <b>{{niveau}}</b></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->

        <br>
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'list_total_pers_pymt' %}" class="text-center btn-lg btn-success btn-block"><b>Liste générale des personnes qui ont reçus leurs payments</b></a>
            </div>
        </div>
        <br>
        <br>
        <!-- Default box -->
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">Les 5 meilleurs</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i></button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-secondary table-striped projects">
                    <thead>
                    <tr>
                        <th style="width: 22%">
                            Nom et prénom
                        </th>
                        <th class="text-center" style="width: 15%">
                            Photo du membre
                        </th>
                        <th class="text-center" style="width: 20%">
                            Position
                        </th>
                        <th style="width: 15%;text-align:center">
                            Actions
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for membre in membres %}
                    {% if membre.palier is not None %}
                    <tr>
                        <td>
                            <a>
                                <b>{{membre}}</b>
                            </a>
                            <br/>
                            <small style="font-style:italic">
                                Membre depuis {{membre.date_d_ajout}}
                            </small>
                        </td>
                        <td class="text-center">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    {% if membre.avatar %}
                                    <img alt="Avatar" class="table-avatar" src="{{membre.avatar.url}}">
                                    {% else %}
                                    {% if membre.sexe == "Homme" %}
                                    <img style="height:35px;width:35px;background-size:cover" src="{% static 'affiliation/img/male1.jpg' %}" class="table-avatar" alt="Avatar">
                                    {% elif membre.sexe == "Femme" %}
                                    <img style="height:35px;width:35px;background-size:cover" src="{% static 'affiliation/img/female.jpg' %}" class="table-avatar" alt="Avatar">
                                    {% endif %}
                                    {% endif %}
                                </li>
                            </ul>
                        </td>
                        <td class="project-state text-center">
                            <span class="badge badge-secondary" style="font-size:14px;">{{membre.poste}} | {{membre.palier}}</span>
                        </td>
                        <td class="text-center project-actions">
                            <a class="btn btn-primary btn-sm" href="{% url 'voirplus' membre.id %}">
                                <i class="fas fa-folder">
                                </i>
                                Voir
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div><!-- /.container-fluid -->
</section>
{% endblock %}

{% block javascript %}
{% endblock %}