{% extends "base.html" %}
{% load static %}

{% block head-title %}
    Pays&nbsp;
{% endblock %}

{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'affiliation/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
{% endblock %}

{% block menu-parametre %}
active
{% endblock %}

{% block active-pays %}
active
{% endblock %}

{% block position %}
    Pays
{% endblock %}

{% block chemin %}
    Pays&nbsp;
{% endblock %}

{% block content %}
    <!-- Main content -->
    <section class="content">
        <button type="button" class="btn btn-outline-primary show-form" data-url="{% url 'createcodepays' %}">
            Ajouter un pays&nbsp;
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        <br><br>

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Pays</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body p-2">
          <table id="table-pays" class="text-center table table-striped table-hover projects">
              <br>
              <thead>
                  <tr>
                      <th style="width: 10%">
                          #
                      </th>
                      <th style="width: 30%;font-size:14px">
                          Pays
                      </th>
                      <th style="width: 30%;font-size:14px">
                          Code pays
                      </th>
                      <th style="width: 30%;font-size:14px">
                          Actions
                      </th>
                  </tr>
              </thead>
              <tbody>
                {% include "affiliation/code_pays/listecodepays.html" %}
              </tbody>
          </table>
            <!-- Popup ajouter nouvelle personne -->
            <div class="modal fade" id="modal-pays">
                <div class="modal-dialog">
                    <div class="modal-content"></div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
{% endblock %}

{% block javascript %}
<script src="{% static 'affiliation/js/modalpays.js' %}"></script>
<!-- DataTables -->
<script src="{% static 'affiliation/plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'affiliation/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<!-- page script -->
<script>
  $(function () {
    $("#table-pays").DataTable();
  });
</script>
{% endblock %}