{% load static %}
{% for manageur_bam in manageurs_bam %}
 <tr>
  <td>
      <b class="badge badge-secondary">{{ manageur_bam.id }}</b>
  </td>
  <td>

      <button class="btn btn-sm btn-success show-form" data-url="{% url 'createpayement' %}">
        <i class="fa fa-user" aria-hidden="true"></i> {{manageur_bam}}
      </button>
      <br>
      <small>
          <i>Cliquez pour lui remmettre son payement</i>
          <br>
          <i>S'il continue, il a droit à 7000 FCA</i>
          <br>
          <i>S'il quitte le programme, il a droit à 20000 FCA</i>
      </small>
  </td>
  <td class="text-right">
      <b class="badge badge-primary" style="font-size:14px;">{{manageur_bam.groupe}}</b>
  </td>
</tr>
{% empty %}
<tr>
    <td colspan="7 " class="text-center bg-primary" style="font-weight:bold;font-size:15px">Aucun manageur n'est disponible pour le moment</td>
</tr>
{% endfor %}
