{% load crispy_forms_tags %}
<form method="POST" action="" data-url="{% url 'validerpayement' form.instance.id %}" class="update-form">
	{% csrf_token %}
		<div class="modal-header">
			<h5 class="modal-title">Confirmer la reception du payement</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
            <div class="form-group">
			    {{form.etat}}
                <label style="color:#333;opacity:.9">Confirmer :</label>
            </div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
			<button type="submit" class="btn btn-primary">Soumettre</button>
		</div>
</form>