#mon_hover:hover{
    color:purple;
    text-decoration:underline
}

.table-sm {
  th,
  td {
    padding: 0px;
  }
}

#forum:hover {
    background-color: grey;
    padding:10px;

}

#forum:hover > span{
    color:#fff;
}