* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive, 'Nunito', sans-serif;
}

#getahead{
    font-family: 'Oswald', cursive;
}

.menufont{
    font-family: 'Montserrat', cursive;
}

#citation{
    font-family: 'Akaya Telivigala', cursive;
}

#auteur{
    font-family: 'Dancing Script', cursive;
}

body {
    background: #f2f2f2;
}

nav {
    background: #1b1b1b;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    color: red;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}

nav ul {
    float: right;
    list-style: none;
    margin-right:130px;
    position: relative;
}

nav ul li {
    float: left;
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    margin: 8px 15px;
}

nav ul li a:hover {
    color: #a55eea;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #a55eea,
                3px 3px 3px #a55eea;
}

nav ul ul li a:hover  {
    color: #a55eea;
    box-shadow: none;
}

nav ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid #a55eea;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul ul ul {
    border-top: none;
}

nav ul li:hover > ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}


nav ul ul li {
    position: relative;
    margin: 0px;
    width: 270px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0, .3)
}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul ul li {
    position: relative;
    top: -70px;
    left: -270px;
}

.fa-chevron-right {
    margin-left: 80px;
    font-size: 15px;
}

.show, .icon, #btn, #btn-1, #btn-2, #btn-3, #btn-4 {
    display: none;
}

@media all and (max-width: 968px) {
    nav ul {
        margin-right: 0px;
        float: left;
    }
    nav .logo {
        padding-left: 30px;
        width: 100%;
    }
    nav ul li, nav ul ul li {
        display: block;
        width: 100%;
    }
    nav ul ul {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul ul li {
        position: static;
    }
    nav ul ul li {
        border-bottom: 0px;
    }
    nav ul ul a {
        padding-left: 40px;
    }
    nav ul ul ul a {
        padding-left: 80px;
    }
    .show {
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .show:hover {
        color: cyan;
    }
    .icon {
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }
    nav ul li a:hover {
        box-shadow: none
    }
    .show + a, ul {
        display: none;
    }
    [id^=btn]:checked + ul {
        display: block;
    }

}
