{% extends "base.html" %}
{% load static %}

{% block head %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'affiliation/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
{% endblock %}

{% block head-title %}Nos Packs{% endblock %}

{% block getahead2 %}
active
{% endblock %}

{% block active-getahead2 %}
active
{% endblock %}

{% block position %}
Nos Espaces
{% endblock %}

{% block chemin %}
Nos Espaces
{% endblock %}


{% block content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <a href="{% url 'menu' %}" style="background-color: #2C2C54; border:1px solid #2C2C54" class="btn btn-primary btn-block mb-3">Retour</a>

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Nos Epaces</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <ul class="nav nav-pills flex-column">
                            {% for pack in packs %}
                            <li class="nav-item active">
                                <a href="javascript:void(0)" class="nav-link">
                                    <i class="fas fa-box-open"></i> {{pack.nouveau_nom}}
                                    <span class="badge bg-primary float-right">0</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Espace à venir</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a style="color:#2C2C54" class="nav-link text-center" href="#">
                                    <!-- <i class="far fa-circle" ></i> -->
                                    Aucun espace à venir pour le moment
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Liste des espaces</h3>

                        <div class="card-tools">
                            <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Previous"><i class="fas fa-chevron-left"></i></a>
                            <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Next"><i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-footer bg-white">
                        <ul class="mailbox-attachments ">
                            <div class="row">
                                {% for pack in packs %}
                                {% if pack.ancien_nom == "Mercure" %}
                                <li>
                                    <a style="cursor:pointer" href="#espace">
                                        <span class="mailbox-attachment-icon has-img">
                                            <img style="width:198px;height:132px" src="{% static 'investissement/img/mercure.jpg' %}" alt="Attachment">
                                        </span>
                                    </a>
                                    <div class="mailbox-attachment-info">
                                        <a href="#espace" class="mailbox-attachment-name">
                                            <span style="color:#000">{{pack.nouveau_nom|truncatechars:20}}</span>
                                        </a>
                                        <span class="mailbox-attachment-size clearfix mt-1">
                                              <span>0 inscrits</span>
                                              <a href="#" class="btn btn-default btn-sm float-right"><i class="fas fa-boxes"></i></a>
                                        </span>
                                    </div>
                                </li>
                                {% endif %}
                                {% if pack.ancien_nom == "Venus" %}
                                <li>
                                    <a style="cursor:pointer" href="#espace">
                                        <span class="mailbox-attachment-icon has-img">
                                            <img style="width:198px;height:132px" src="{% static 'investissement/img/venus.jpg' %}" alt="Attachment">
                                        </span>
                                    </a>
                                    <div class="mailbox-attachment-info">
                                        <a href="#espace" class="mailbox-attachment-name">
                                            <span style="color:#000">{{pack.nouveau_nom}}</span>
                                        </a>
                                        <span class="mailbox-attachment-size clearfix mt-1">
                                              <span>0 inscrits</span>
                                              <a href="#" class="btn btn-default btn-sm float-right"><i class="fas fa-boxes"></i></a>
                                            </span>
                                    </div>
                                </li>
                                {% endif %}
                                {% if pack.ancien_nom == "Mars" %}
                                <li>
                                    <a style="cursor:pointer" href="#espace">
                                        <span class="mailbox-attachment-icon has-img">
                                            <img style="width:198px;height:132px" src="{% static 'investissement/img/mars.jpg' %}" alt="Attachment">
                                        </span>
                                    </a>
                                    <div class="mailbox-attachment-info">
                                        <a href="#espace" class="mailbox-attachment-name">
                                            <span style="color:#000">{{pack.nouveau_nom}}</span>
                                        </a>
                                        <span class="mailbox-attachment-size clearfix mt-1">
                                              <span>0 inscrits</span>
                                              <a href="#" class="btn btn-default btn-sm float-right"><i class="fas fa-boxes"></i></a>
                                            </span>
                                    </div>
                                </li>
                                {% endif %}
                                {% if pack.ancien_nom == "Jupiter" %}
                                <li>
                                    <a style="cursor:pointer" href="#espace">
                                        <span class="mailbox-attachment-icon has-img">
                                            <img style="width:198px;height:132px" src="{% static 'investissement/img/jupiter.jpg' %}" alt="Attachment">
                                        </span>
                                    </a>
                                    <div class="mailbox-attachment-info">
                                        <a href="#espace" class="mailbox-attachment-name">
                                            <span style="color:#000">{{pack.nouveau_nom}}</span>
                                        </a>
                                        <span class="mailbox-attachment-size clearfix mt-1">
                                              <span>0 inscrits</span>
                                              <a href="#" class="btn btn-default btn-sm float-right"><i class="fas fa-boxes"></i></a>
                                            </span>
                                    </div>
                                </li>
                                {% endif %}
                                {% if pack.ancien_nom == "Saturne" %}
                                <li>
                                    <a style="cursor:pointer" href="#espace">
                                        <span class="mailbox-attachment-icon has-img">
                                            <img style="width:198px;height:132px" src="{% static 'investissement/img/saturne.jpeg' %}" alt="Attachment">
                                        </span>
                                    </a>
                                    <div class="mailbox-attachment-info">
                                        <a href="#espace" class="mailbox-attachment-name">
                                            <span style="color:#000">{{pack.nouveau_nom}}</span>
                                        </a>
                                        <span class="mailbox-attachment-size clearfix mt-1">
                                              <span>0 inscrits</span>
                                              <a href="#" class="btn btn-default btn-sm float-right"><i class="fas fa-boxes"></i></a>
                                            </span>
                                    </div>
                                </li>
                                {% endif %}
                                {% if pack.ancien_nom == "Uranus" %}
                                <li>
                                    <a style="cursor:pointer" href="#espace">
                                        <span class="mailbox-attachment-icon has-img">
                                            <img style="width:198px;height:132px" src="{% static 'investissement/img/uranus.jpg' %}" alt="Attachment">
                                        </span>
                                    </a>
                                    <div class="mailbox-attachment-info">
                                        <a href="#espace" class="mailbox-attachment-name">
                                            <span style="color:#000">{{pack.nouveau_nom}}</span>
                                        </a>
                                        <span class="mailbox-attachment-size clearfix mt-1">
                                              <span>0 inscrits</span>
                                              <a href="#" class="btn btn-default btn-sm float-right"><i class="fas fa-boxes"></i></a>
                                            </span>
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </ul>
                    </div>

                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-md-12">

                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center" style="font-size:17px" id="espace">Fiche des acheteurs potentiels</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body p-2">
                        <table id="table-liste-acheteur" class="text-center table-primary table-bordered table-striped table-hover projects">
                            <br>
                            <thead>
                            <tr>
                                <th style="width: 15%;font-size:14px">
                                    Nom
                                </th>
                                <th style="width: 10%;font-size:14px">
                                    Groupe
                                </th>
                                <th style="width: 15%;font-size:14px">
                                    Contact
                                </th>
                                <th style="width: 10%;font-size:14px">
                                    Pays
                                </th>
                                <th style="width: 12%;font-size:14px">
                                    Progression
                                </th>
                                <th style="font-size:14px">
                                    Sexe
                                </th>
                                <th style="width: 10%;font-size:15px">
                                    Date d'ajout
                                </th>
                                <th style="width: 12%;font-size:15px">
                                    Espace
                                </th>
                                <th style="width: 10%;font-size:14px">
                                    Actions
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% include "investissement/nos_packs/liste_packs.html" %}
                            </tbody>
                        </table>
                        <!-- Popup enregistrer un nouvel achat -->
                        <div class="modal fade" id="modal-acheter-espace">
                            <div class="modal-dialog">
                                <div class="modal-content"></div>
                            </div>
                        </div>
                        <!-- End Popup enregistrer un nouvel achat -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
{% endblock %}


{% block javascript %}
<script src="{% static 'investissement/js/vendre_espace.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<!-- DataTables -->
<script src="{% static 'affiliation/plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'affiliation/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<script>
    $('select').selectpicker();
</script>
<script>
    jQuery(document).ready(function() {
        jQuery(".standardSelect").chosen({
            disable_search_threshold: 10,
            no_results_text: "Oops, nothing found!",
            width: "100%"
        });
    });
</script>
<script>
    // Material Select Initialization
    $(document).ready(function() {
    $('.mdb-select').materialSelect();
    });
</script>
<script>
  $(function () {
    $("#table-liste-acheteur").DataTable();
  });
</script>
{% endblock %}
