{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock %}

{% block head-title %}Menu{% endblock %}

{% block menu-getahead2-menu %}
active
{% endblock %}

{% block active-getahead2-menu %}
active
{% endblock %}

{% block position %}
Menu
{% endblock %}

{% block chemin %}
Menu
{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid page-item disabled">
        <div class="row">
            <div class="col-lg-4 col-12">
                <a href="#"><!-- #0097e6 -->
                    <div class="small-box" style="padding-left:5px;padding-bottom:50px;padding-top:50px;background-color:#ffd32a">
                        <div class="inner">
                            <span style="font-size:20px;font-weight:600;text-transform:uppercase;color:#000"><span>Gains journaliers</span></span>
                        </div>
                        <div class="icon">
                            <i class="pt-3 nav-icon fas fa-hand-holding-usd" style="color:#000"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-12">
                <a href="#">
                    <div class="small-box" style="padding-left:5px;padding-bottom:50px;padding-top:50px;background-color:#18dcff">
                        <div class="inner">
                            <span style="font-size:20px;font-weight:600;text-transform:uppercase;color:#000"><span>Bonus GET AHEAD</span></span>
                        </div>
                        <div class="icon">
                            <i class="pt-3 nav-icon fas fa-funnel-dollar" style="color:#000000"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-12">
                <a href="#">
                    <div class="small-box" style="padding-left:5px;padding-bottom:50px;padding-top:50px;background-color:#ff3838">
                        <div class="inner">
                            <span style="font-size:20px;font-weight:600;text-transform:uppercase;color:#000"><span>1er Bonus sur filleul</span></span>
                        </div>
                        <div class="icon">
                            <i class="pt-3 nav-icon fas fa-funnel-dollar" style="color:#000000"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-12">
                <a href="#">
                    <div class="small-box" style="padding-left:5px;padding-bottom:50px;padding-top:50px;background-color:#05c46b">
                        <div class="inner">
                            <span style="font-size:20px;font-weight:600;text-transform:uppercase;color:#fff"><span>2e Bonus sur filleul</span></span>
                        </div>
                        <div class="icon">
                            <i class="pt-3 nav-icon fas fas fa-funnel-dollar" style="color:#fff"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-12">
                <a href="#">
                    <div class="small-box" style="padding-left:5px;padding-bottom:50px;padding-top:50px;background-color:#2c2c54">
                        <div class="inner">
                            <span style="font-size:20px;font-weight:600;text-transform:uppercase;color:#fff"><span>Espaces disponibles</span></span>
                        </div>
                        <div class="icon">
                            <i class="pt-3 nav-icon fas fa-box-open" style="color:#fff"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

