{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head-title %}
    Ajouter un adhérent&nbsp;
{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
{% endblock %}

{% block menu-donnne-base %}
active
{% endblock %}

{% block active-donne-base %}
active
{% endblock %}

{% block position %}
    Ajouter un adhérent
{% endblock %}

{% block chemin %}
    Ajouter un adhérent
{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        {% if form.errors %}
           <div class=" text-center col-lg-8 alert alert-danger">
               <b>
                   <a class="btn btn-dark btn-sm close" href="#" data-dismiss="alert">×</a>
                   <p>Formulaire non valide, informations non enrégistré. VERIFIEZ VOS DONNEES</p>
               </b>
           </div>
        {% else %}
            <div class=" text-center col-lg-8 alert alert-success">
               <b>
                   <a class="btn btn-dark btn-sm close" href="#" data-dismiss="alert">×</a>
                   <p>Formulaire envoyé. Vos données seront traitées correctement</p>
               </b>
           </div>
       {% endif %}
        <div class="row">
            <div class="col-lg-8">
            <div class="card">
                <div class="card-header text-center"><small style="font-size:15px"><b>Fiche d'ajout d'un adhérent à l'entraide GET AHEAD</b></small></div>
                <div class="card-body card-block">
                    <form action="" method="post" class="">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-0">
                                {{ form.nom_d_utilisateur|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.password|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-0">
                                {{ form.nom|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.prenom|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4 mb-0">
                                {{ form.adresse|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.pays_de_residence|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.telephone|as_crispy_field }}
                            </div>
                        </div>
                        <!-- <small class="text-muted">L'année de naisssance servira pour les statistiques</small> -->
                        {{ form.groupe|as_crispy_field }}
                        {{ form.sexe|as_crispy_field }}
                        {{ form.nom_du_parent|as_crispy_field }}
                        {{ form.avatar|as_crispy_field }}
                        <div class="form-actions form-group"><button type="submit" class="btn btn-block btn-primary">Valider les informations</button></div>
                    </form>
                </div>
            </div>
            </div>
            <div class="col-lg-4">
                <!-- Widgets  -->
                <div class="row ml-3 mr-3" style="margin-top:150px; margin-bottom:100px">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="">
                                    <div class="">
                                        <i style="font-size:100px" class="fa fa-users text-dark"></i>
                                        <div class="float-right">
                                            <div class="text-right stat-text"><span class="count badge badge-secondary" style="font-size:20px">{{invite}}</span></div>
                                            <div class="text-muted"><b style="font-size:25px">Invités</b></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="">
                                    <div class="">
                                        <i style="font-size:100px" class="fa fa-cogs text-primary"></i>
                                        <div class="float-right">
                                            <div class="text-right stat-text"><span class="count badge badge-secondary" style="font-size:20px">{{total_membre}}</span></div>
                                            <div class="text-muted"><b style="font-size:25px">Utilisateurs</b></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'liste' %}" class="btn btn-block btn-outline-primary ml-3 mr-3 mb-3">
                        <i class="fa fa-eye"></i>
                        <small style="font-size:15px"><b> &nbsp;&nbsp;Liste total adhérents</b></small>
                    </a>
                </div>
                <!-- /Widgets -->
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script>
    $('.ajouterposte').click(function () {
        alert('hello');
    });
    $('select').selectpicker();
</script>
<script>
    jQuery(document).ready(function() {
        jQuery(".standardSelect").chosen({
            disable_search_threshold: 10,
            no_results_text: "Oops, nothing found!",
            width: "100%"
        });
    });
</script>
<script>
    // Material Select Initialization
    $(document).ready(function() {
    $('.mdb-select').materialSelect();
    });
</script>
{% endblock %}