{% load static %}
{% for parent in parents %}
 <tr>
  <td>
      <b class="badge badge-secondary">{{ parent.id }}</b>
  </td>
  <td>
      <b style="font-size:14px;">{{parent.nom_du_parrain}}</b>
  </td>
  <td>
      <b style="font-size:14px;">{{parent.prenom_du_parrain}}</b>
  </td>
  <td class="project-actions">
      <button class="btn btn-info btn-sm show-form-update" data-url="{% url 'updateparent' parent.id %}">
          <i class="fas fa-pencil-alt">
          </i>
          Editer
      </button>
      <button class="btn btn-danger btn-sm show-form-delete" data-url="{% url 'deleteparent' parent.id %}">
          <i class="fas fa-trash">
          </i>
          Effacer
      </button>
  </td>
</tr>
{% empty %}
<tr>
    <td colspan="4 " class="text-center bg-primary" style="font-weight:bold;font-size:15px">Aucun parrain n'est disponible</td>
</tr>
{% endfor %}
